.faq{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0.5rem;
}
.faq-btn{
    padding: 0 1rem;
}
#faq-btn{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.que p{
   font-size: 1.3rem;
   font-weight: 540;
}
.que p{
    line-height: 2rem;
}
.ans p{
    line-height: 1.5rem;
    color: rgb(39, 38, 38);
}
.ans{
    display: none;
}
