.pcard{
    width: 17%;
    background: url(../../assets/pcard-background.jpg);
    height: 15rem;
    background-size: 100% 100%;
    border: 2px solid black;
    border-radius: 15%;
    padding: 1rem;
    margin: 2rem;
    opacity: 0.8;
}
.pcard img{
    width: 40%;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left: 4rem;
    bottom: 1rem;
}
.pcard i{
    font-size: 2rem;
    color: white;
    display: block;
}
.pcard p{
    line-height: 1.5rem;
}
