.cart{
    height: 100vh;
}
.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-header{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-weight: 600;
}
#cart-icn{
    margin-right: 1rem;
}
.main-cart{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.items{
    width: 60%;
}
.cart-details{
    width: 30%;
}
.item{
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
}
.item-list{
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.item-img{
    display: flex;
    justify-content: center;
}
.item-img img{
    width: 5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}
.item-titel{
   text-align: center;
}
#i-t,#i-ch,#i-st{
    font-weight: 600;
    margin-bottom: 0.4rem;
}
#i-av{
    color: green;
    font-weight: 500;
}

.totel{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.totel p{
    margin: 0 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.cart-details-box{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.estimated-totel{
    font-weight: 600;
}

.cart-details{
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 1rem;
    margin-top: 1rem;
}

.proceed{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
#proceed-btn{
    color: white;
    text-decoration: none;
    font-weight: 600;
    background-color: rgba(25, 28, 25, 0.972);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 5rem;
}