.payment{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.pay{
    width: 30%;
    height: fit-content;
    border: 1px solid rgba(25, 28, 25, 0.972);
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem 0;
    
}
.pay form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pay input{
    width: 93%;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
}
.pay p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align-last: center;
}
.subinput{
    display: flex;
    justify-content: center;
}
.subinput #cvv{
    margin-left: 1rem;
}
.subinput #exp{
    margin-right: 1rem;
}
.pay-btn{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
#pay-btn{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(25, 28, 25, 0.972);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 10rem;
}