.success{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.success-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(25, 28, 25, 0.972);
    border-radius: 1.5rem;
    width: fit-content;
    height: fit-content;
    margin-top: 5rem;
    padding: 3rem 2rem;
}

#succ-icn{
    font-size: 5rem;
    color: green;
}
#succ{
    font-size: 2rem;
    color: green;
    line-height: 3.5rem;
}

#succ-msg{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.succ-btn{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
#succ-btn{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(25, 28, 25, 0.972);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 4rem;
}